html {
  font-size: 10px;
}

body {
  background: #ffc600;
  font-family: "helvetica neue";
  font-weight: 200;
  font-size: 20px;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode button {
  background-color: #333;
  color: #fff;
}

body.dark-mode .notes-list li {
  background-color: #333;
  color: #fff;
}

.words {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem 1rem 5rem;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(#d9eaf3),
      color-stop(4%, #fff)
    )
    0 4px;
  background-size: 100% 3rem;
  position: relative;
  line-height: 3rem;
}

p {
  margin: 0 0 3rem;
}

.words:before {
  content: "";
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

#app {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

.notes-list {
  list-style: none;
  padding: 0;
}

.notes-list li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #121212;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

button:hover {
  scale: 1.1;
}

.dropdown {
  margin-bottom: 20px;
}

.notes-list li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
